<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>${project.build.finalName}</display-name>
	<context-param>
		<param-name>WOJarBundle</param-name>
		<param-value>YES</param-value>
		<description>
			Whether this app is a "true" WAR, rather than a "stub" WAR
			or SSDD Note that WOROOT, LOCALROOT, WOAINSTALLROOT,
			WOClassPath are ignored if this is true However, if this is
			true,
			WOMainBundle must be set to the main bundle name
		</description>
	</context-param>

	<context-param>
		<param-name>WOMainBundle</param-name>
		<param-value>${project.build.finalName}</param-value>
		<description>
			Sets the name of the main bundle. Only used if
			WOJarBundle
			is true
		</description>
	</context-param>

	<!-- Indicates if application is in development or deployment mode. In development 
		mode, images are vended by the application directly from frameworks. In deployment 
		mode, images are vended by the webserver. -->
	<context-param>
		<param-name>WOAppMode</param-name>
		<param-value>development</param-value>
	</context-param>
	<!-- Class name of the WOApplication subclass that defines the WebObjects 
		application. -->
	<context-param>
		<param-name>WOApplicationClass</param-name>
		<param-value>
			br.com.doit.boleto.app.Application
		</param-value>
	</context-param>
	<filter>
		<filter-name>BoletoService</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>
				br.com.doit.boleto.resource
				br.com.doit.boleto.providers
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>BoletoService</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- <listener> <listener-class>br.com.doit.boleto.config.WebObjectsServletConfig</listener-class> 
		</listener> -->
	<!-- The WebObjects Servlet that interfaces between the Servlet container 
		world and the WebObjects world. -->
	<servlet>
		<servlet-name>WOServletAdaptor</servlet-name>
		<servlet-class>er.extensions.jspservlet.ERXServletAdaptor</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<!-- URLs starting with 'WebObjects' use the WebObjects Servlet adaptor. -->
	<servlet-mapping>
		<servlet-name>WOServletAdaptor</servlet-name>
		<url-pattern>/WebObjects/*</url-pattern>
	</servlet-mapping>
</web-app>
