{
    attributes = (
        {
            allowsNull = N; 
            columnName = "boleto_id"; 
            name = boletoId; 
            prototypeName = id; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {allowsNull = N; columnName = tipo; name = tipo; prototypeName = charFlag; }, 
        {
            allowsNull = N; 
            columnName = valor; 
            name = valor; 
            prototypeName = varchar255; 
        }
    ); 
    attributesUsedForLocking = (boletoId, id); 
    className = "br.com.woboleto.model.EOLocalPagamento"; 
    classProperties = (tipo, valor); 
    externalName = "boleto_informacao"; 
    fetchSpecificationDictionary = {}; 
    name = EOLocalPagamento; 
    parent = AbstractInformacao; 
    primaryKeyAttributes = (id); 
    restrictingQualifier = "tipo = '3'"; 
}
