{
    attributes = (
        {
            allowsNull = Y; 
            columnName = agencia; 
            name = agencia; 
            prototypeName = varchar255; 
        }, 
        {
            allowsNull = Y; 
            columnName = carteira; 
            name = carteira; 
            prototypeName = varchar255; 
        }, 
        {
            allowsNull = Y; 
            columnName = "codigo_beneficiario"; 
            name = codigoBeneficiario; 
            prototypeName = varchar255; 
        }, 
        {
            allowsNull = Y; 
            columnName = "digito_verificador_agencia"; 
            name = digitoVerificadorAgencia; 
            prototypeName = varchar10; 
        }, 
        {
            allowsNull = Y; 
            columnName = "digito_verificador_codigo_beneficiario"; 
            name = digitoVerificadorCodigoBeneficiario; 
            prototypeName = varchar10; 
        }, 
        {
            allowsNull = Y; 
            columnName = "digito_verificador_nosso_numero"; 
            name = digitoVerificadorNossoNumero; 
            prototypeName = varchar10; 
        }, 
        {
            allowsNull = Y; 
            columnName = documento; 
            name = documento; 
            prototypeName = varchar255; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = "nome_beneficiario"; 
            name = nomeBeneficiario; 
            prototypeName = varchar255; 
        }, 
        {
            allowsNull = Y; 
            columnName = "nosso_numero"; 
            name = nossoNumero; 
            prototypeName = varchar255; 
        }, 
        {
            allowsNull = Y; 
            columnName = "numero_convenio"; 
            name = numeroConvenio; 
            prototypeName = varchar255; 
        }
    ); 
    attributesUsedForLocking = (id); 
    className = "br.com.woboleto.model.EOBeneficiario"; 
    classProperties = (
        agencia, 
        carteira, 
        codigoBeneficiario, 
        digitoVerificadorAgencia, 
        digitoVerificadorCodigoBeneficiario, 
        digitoVerificadorNossoNumero, 
        documento, 
        nomeBeneficiario, 
        nossoNumero, 
        numeroConvenio
    ); 
    externalName = beneficiario; 
    fetchSpecificationDictionary = {}; 
    name = EOBeneficiario; 
    primaryKeyAttributes = (id); 
}
