{
    attributes = (
        {columnName = aceite; name = aceite; prototypeName = flag; }, 
        {
            allowsNull = Y; 
            columnName = banco; 
            name = banco; 
            prototypeName = javaEnum; 
            valueClassName = "br.com.woboleto.model.BancoEnum"; 
        }, 
        {
            allowsNull = N; 
            columnName = "beneficiario_id"; 
            name = beneficiarioId; 
            prototypeName = id; 
        }, 
        {
            columnName = "codigo_de_barras"; 
            name = codigoDeBarras; 
            prototypeName = longText; 
        }, 
        {
            allowsNull = Y; 
            columnName = "data_documento"; 
            name = dataDocumento; 
            prototypeName = date; 
        }, 
        {
            allowsNull = Y; 
            columnName = "data_processamento"; 
            name = dataProcessamento; 
            prototypeName = date; 
        }, 
        {
            allowsNull = Y; 
            columnName = "data_vencimento"; 
            name = dataVencimento; 
            prototypeName = date; 
        }, 
        {
            allowsNull = Y; 
            columnName = "especie_documento"; 
            name = especieDocumento; 
            prototypeName = varchar16; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            columnName = "linha_digitavel"; 
            name = linhaDigitavel; 
            prototypeName = longText; 
        }, 
        {
            allowsNull = Y; 
            columnName = "numero_documento"; 
            name = numeroDocumento; 
            prototypeName = varchar16; 
        }, 
        {
            allowsNull = N; 
            columnName = "pagador_id"; 
            name = pagadorId; 
            prototypeName = id; 
        }, 
        {
            allowsNull = Y; 
            columnName = "quantidade_moeda"; 
            name = quantidadeMoeda; 
            precision = 30; 
            prototypeName = amount; 
        }, 
        {
            allowsNull = Y; 
            columnName = valor; 
            name = valor; 
            precision = 30; 
            prototypeName = amount; 
        }, 
        {
            allowsNull = Y; 
            columnName = "valor_moeda"; 
            name = valorMoeda; 
            precision = 30; 
            prototypeName = amount; 
        }
    ); 
    attributesUsedForLocking = (beneficiarioId, id, pagadorId); 
    className = "br.com.woboleto.model.EOBoleto"; 
    classProperties = (
        aceite, 
        banco, 
        beneficiario, 
        codigoDeBarras, 
        dataDocumento, 
        dataProcessamento, 
        dataVencimento, 
        descricoes, 
        especieDocumento, 
        instrucoes, 
        linhaDigitavel, 
        locaisPagamento, 
        numeroDocumento, 
        pagador, 
        quantidadeMoeda, 
        valor, 
        valorMoeda
    ); 
    externalName = boleto; 
    fetchSpecificationDictionary = {}; 
    name = EOBoleto; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = EOBeneficiario; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = beneficiarioId; }); 
            name = beneficiario; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = EODescricao; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = boletoId; sourceAttribute = id; }); 
            name = descricoes; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = EOInstrucao; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = boletoId; sourceAttribute = id; }); 
            name = instrucoes; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = EOLocalPagamento; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = boletoId; sourceAttribute = id; }); 
            name = locaisPagamento; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = EOPagador; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = pagadorId; }); 
            name = pagador; 
        }
    ); 
}
