{
    attributes = (
        {
            allowsNull = Y; 
            columnName = bairro; 
            name = bairro; 
            prototypeName = varchar255; 
        }, 
        {allowsNull = Y; columnName = cep; name = cep; prototypeName = varchar50; }, 
        {
            allowsNull = Y; 
            columnName = cidade; 
            name = cidade; 
            prototypeName = varchar255; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = logradouro; 
            name = logradouro; 
            prototypeName = varchar255; 
        }, 
        {
            allowsNull = Y; 
            columnName = uf; 
            name = uf; 
            prototypeName = shortString; 
            width = 2; 
        }
    ); 
    attributesUsedForLocking = (id); 
    className = "br.com.woboleto.model.EOEndereco"; 
    classProperties = (bairro, cep, cidade, logradouro, uf); 
    externalName = endereco; 
    fetchSpecificationDictionary = {}; 
    name = EOEndereco; 
    primaryKeyAttributes = (id); 
}
