{
    attributes = (
        {
            allowsNull = N; 
            columnName = "boleto_id"; 
            name = boletoId; 
            prototypeName = id; 
        }, 
        {columnName = "external_id"; name = externalId; prototypeName = varchar16; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = "voucher_id"; 
            name = voucherId; 
            prototypeName = id; 
        }
    ); 
    attributesUsedForLocking = (boletoId, id, voucherId); 
    className = "br.com.doit.pontofrio.model.Invoice"; 
    classProperties = (boleto, externalId, voucher); 
    externalName = "store_invoice"; 
    fetchSpecificationDictionary = {}; 
    name = Invoice; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = EOBoleto; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = boletoId; }); 
            name = boleto; 
        }, 
        {
            destination = Voucher; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = voucherId; }); 
            name = voucher; 
        }
    ); 
}
