{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = "paid_amount"; 
            name = paidAmount; 
            precision = 30; 
            prototypeName = amount; 
        }, 
        {
            allowsNull = N; 
            columnName = "payment_date"; 
            name = paymentDate; 
            prototypeName = date; 
        }
    ); 
    attributesUsedForLocking = (id); 
    className = "br.com.doit.pontofrio.model.Voucher"; 
    classProperties = (paidAmount, paymentDate); 
    externalName = "store_voucher"; 
    fetchSpecificationDictionary = {}; 
    name = Voucher; 
    primaryKeyAttributes = (id); 
}
